# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto


# Idea config
*.xml text
*.iml text

*.pug text
*.js text
*.json text    
*.scss text
*.css text
# Git project
*.md text

*.yml text eol=lf
*.sh text eol=lf

*.png binary
*.jpg binary
*.ico binary