doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Pay Predict Data Apps Portal ( Demo Version )
    link(rel='stylesheet' type='text/css' href='/lib/semantic/dist/semantic.min.css')
    script(src='/lib/jquery-3.1.1.min.js')
    script(src='/lib/semantic/dist/semantic.min.js')
    style(type='text/css').
        .main.container {
            margin-top: 7em;
        }
.ui.cards.main.container(align='middle')
    .raised.orange.centered.card
        .content
            .ui.large.grey.header
                i.clock.outline.icon
                | Not Authorized
        .content(align='left')
            | Your account is not authorized to access applications at this time. We have
            | received your access request and will send you email once your access is granted.
        .content(align='middle')
            a(href='/reports/portal')
                button.ui.primary.button
                | Login Again
        .extra.content(align='left')
            | Business Contact: Jennifer Ho
            br
            | Technical: Pinnacle Services Corporation
            br
            | wecare@pinnacleservice.co
