doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Pay Predict Data Apps Portal ( Demo Version )
    link(rel='stylesheet' type='text/css' href='/lib/semantic/dist/semantic.min.css')
    script(src='/lib/jquery-3.1.1.min.js')
    script(src='/lib/semantic/dist/semantic.min.js')
    style(type='text/css').
        .main.container {
            margin-top: 7em;
        }
br
h3.ui.huge.grey.centered.header Pay Predict Applications Portal - Sagis Dx
.ui.cards.main.container
    .card
        .content
            .header Opportunity Finder
            .meta
                | Explore denials and find revenue improvement opportunities
            .description
                a.ui.blue.ribbon.label Dimensions
                div
                    a.ui.label Cpt Code
                    a.ui.label Payer
                    a.ui.label Benefit Plan
                    a.ui.label Denial Reason
                    a.ui.label Client
                    a.ui.label Dx Code
                a.ui.blue.ribbon.label Measures
                div
                    a.ui.label Payment / Denial Ratio
                    a.ui.label Average CPT Value
                    a.ui.label Improvement Potential
                a.meta Download selected data as .csv file
                br
        .extra.content
            a(href= pp.shinyUrl + 'denials_sagis/' target='_blank')
                .ui.grey.button Open Application
    .card
        .content
            .header
                | Trends and Changes
            .meta
                | Explore revenue trends, predict future revenues and detect trend changes for client accounts
            .description
                a.ui.green.ribbon.label Intelligent Revenue Dashboard
                div
                    a.ui.label Billed Work
                    a.ui.label Unbilled Work
                    a.ui.label No EOB
                    a.ui.label Denials
            .description
                a.ui.green.ribbon.label Top 40 Trend Changes List
                div
                    a.ui.label Client
                    a.ui.label Volume Trend
                    a.ui.label Value Trend
                    a.ui.label Change Point
                    a.ui.label Revenue Impact
        .extra.content
            a(href= pp.shinyUrl + 'paytrend_sagis/' target='_blank')
                .ui.grey.button Open Application
    .card
        .content
            .header
                | Payment Predictions
            .meta
                | Predict probability of payment and denial reasons for test at the time of order
            .description
                a.ui.orange.ribbon.label Variables
                div
                    a.ui.label CPT Code
                    a.ui.label Payer
                    a.ui.label Benefit Plan
                    a.ui.label Dx Code
                a.ui.orange.ribbon.label Results
                div
                    a.ui.label Expected Pay
                    a.ui.label Denial Risk
                    a.ui.label Denial Reason
                    a.ui.label ABN Form
                    a.ui.label Precertification
        .extra.content
            a(href= pp.shinyUrl + 'not_configured.html' target='_blank')
                .ui.disabled.button Open Application
    .card
        .content
            .header
                | Key Performance Indicators
            .desciption
                | KPI Dashbard. Analytics repors with Google Data Studio
            .content
                a.ui.teal.ribbon.label Reports
                div
                    a.ui.label Blling Lag
                    a.ui.label Denials by Category
        .extra.content
            a(href='https://datastudio.google.com/open/1GAmQBpUT7mt_QYQmHLMrXEskMKa1UD6B' target='_blank')
                .ui.grey.button Open Application
.ui.divider
.ui.bottom.centered(align='middle')
    a  Business Contact: Jennifer Ho (jho@sagisdx.com)
    br
    a  Techical Support: Pinnacle Services Corporation (wecare@pinnacleservice.co)
