doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Pay Predict Data Apps Portal ( Demo Version )
    link(rel='stylesheet' type='text/css' href='/lib/semantic/dist/semantic.min.css')
    script(src='/lib/jquery-3.1.1.min.js')
    script(src='/lib/semantic/dist/semantic.min.js')
    style(type='text/css').
        .main.container {
            margin-top: 7em;
        }
.ui.cards.main.container(align='middle')
    .raised.centered.card
        .content
            .ui.grey.huge.header Paypredict Portal
            .ui.grey.huge.header Sagis Dx
            br
        .content
            a(href= '/home/')
                button.ui.primary.button
                    i.ui.user.icon
                    | User Login
        .extra.content(align='left')
            | Business Contact: Jennifer Ho
            br
            | Technical: Pinnacle Services Corporation
            br
            | wecare@pinnacleservice.co
